body {
    font-family: Verdana;
    color: #000000;
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav a {
    display: block;
    color: #eee3b5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}

nav a:hover {
    color: #000;
    background-color: #dac78b
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    background-color: #000000e6;
    overflow-x: hidden;
    transition: 0.5s
}

.showMenu {
    float: right;
    font-size: 30px;
    background: none;
    border: 0
}

nav .hideMenu {
    position: absolute;
    top: 20px;
    right: 45px;
    color: #f0f8ff;
    float: right;
    font-size: 50px;
    background: none;
    border: 0
}

nav .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.paragraph {
    text-align: justify;
}

.service-p {
    margin: 20px 20px;
}

.container {
    padding: 64px;
}

.logo {
    margin: 64px 32px;
}

.transparent {
    background-color: #ffffffa9;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

.large-font {
    font-size: 48px;
}

.xlarge-font {
    font-size: 64px
}

.button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
    }
    img {
        margin: auto;
    }
}